<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @user do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.text_field :password, value: nil %>
  </p>
  <p>
    <%= f.label :dob, 'Date of birth' %>
    <%= f.text_field :dob %>
  </p>

  <p>
    Gender
    <%= f.label :gender, 'Male', value: :male %>
    <%= f.radio_button :gender, :male %>

    <%= f.label :gender, 'Female', value: :female %>
    <%= f.radio_button :gender, :female %>
  </p>
  <p>
    <%= f.label :school_name, 'School' %>
    <%= f.text_field :school_name %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>